body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#tabs {
    display: flex;
    background-color: #343a40; /* Dark background color for the tabs */
    padding: 10px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-right: 5px;
    background-color: #007bff; /* Blue background color for the tabs */
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tab.active {
    background-color: #0056b3; /* Darker blue for the active tab */
}

.tab:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.webview-container {
    flex: 1;
    display: none; 
    flex-direction: column;
    height: calc(100vh - 50px);
    width: 100%;
}

.webview-container.active {
    display: flex; 
}

    .webview-container.side-by-side {
        display: flex;
        height: 100%;
        width: 33%;
        border: 1px solid #ccc; 
        box-sizing: border-box; 
    }

.controls {
    display: flex;
    justify-content: left;
    padding: 10px;
    background-color: #f1f1f1;
    gap: 10px;
    height: 25px;
    align-items: center;
}

button {
    padding: 10px;
    font-size: 10px;
    border: none;
    border-radius: 2px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004494;
}

.viewall-toggle-label {
    display: flex;
    align-items: center;
    margin-left: 50px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.viewall-toggle {
    margin-left: 50px; 
    margin-right: 5px;
}

webview {
    flex: 1;
    display: flex;
    height: 100%;
    width: 100%;
    border: none;
}